body{
    color: white;
    background-color: black;
}
div{
    margin-top: 80px;
    text-align: center;
}
img{
    height: 300px;
    width: 400px;
    border: 2px solid white;
}
.h1-font{
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}